<!-- Side bar menu -->
<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse"
    >
      <div class="position-sticky pt-3">
        <div align="center">
          <img src="https://cdn4.iconfinder.com/data/icons/avatars-21/512/avatar-circle-human-male-3-1024.png" alt="banner" width="50" height="50">
          <hr />
        </div>
        <ul class="nav flex-column nav-tabs">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/inventory">
              <span data-feather="file"></span>
              Current Inventory
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Update Inventory
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deleted">
              <span data-feather="layers"></span>
              Deleted Inventories
            </a>
          </li>
        </ul>
        </ul>
      </div>
    </nav>